h1 {
  text-align: center;
}

h6 {
  font-weight: bold;
  border-bottom: 1px solid rgb(187, 187, 187);
  width: min-content;
}

.img-user img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  padding: 2px;
}

.name-user {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px;
}

.age {
  font-weight: lighter;
}

#showUsers .row {
  align-items: center;
  display: flex;
}
